@font-face {
    font-family: 'bf_tiny_handregular';
    src: url('bftinyhand-regular-webfont.woff2') format('woff2'),
         url('bftinyhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.tinyHands {
    font-family: 'bf_tiny_handregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

#main {
    margin: 0 auto;
    width: 420px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid darkgrey;
    padding: 5px;
    font-size: xx-large;
    color: black;
}

#currentDateTime {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: darkblue;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
